// FONTS
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Raleway:wght@400;700;900&display=swap');
// MIXINS
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// VARIABLES
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'PT Sans', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
}

// TYPOGRAPHY
.h1 {
    font-family: $font-primary;
    font-size: 5em !important;
    color: #04283f;
    font-weight: 900;
}
.p {
    color: #04283f;
    font-size: 16px;
    font-family: $font-secondary;
}
.h3 {
    font-family: $font-primary;
    color: #fff;
    font-size: 18px !important;
}
.h2 {
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .h1 {
        font-size: 2em !important;
    }
    .p {
        font-size: 12px;
    }
}

// BASE STYLE
.cont {
    width: 100%;
    // max-width: 1400px;
    margin: 0 auto;
}
.icon {
    font-size: 25px;
    margin: 0 10px;
}
.btns {
    width: auto;
    padding: 10px 30px;
    outline: none;
    // border: 2px solid #04283f;
    border-radius: 0;
    overflow: hidden;
    font-size: 15px;
    background-color: #fff;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    transition: all 0.5s ease;

    &:hover {
        // transform: translateY(-5px);
        box-shadow: none;
    }

    &--connected {
        max-width: 200px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 600px) {
    .hide-on-phone {
        display: none !important;
    }
    .sm-mb-5 {
        margin-bottom: 30px;
    }
}

.hide-on-pc {
    @media only screen and (min-width: 601px) {
        display: none;
    }
}

// OVERWRITE VALUE
a {
    text-decoration: none;
    color: rgb(42, 41, 41);

    &:hover {
        text-decoration: underline;
    }
}
p {
    margin: 0px;
}
ion-icon {
    font-size: 25px;
    font-weight: bold;
}
.box {
    // box-shadow: #888 4px 4px 1px 1px;
    border: 2px solid #04283f;

    transition: all 0.5s ease;

}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: radial-gradient(18.02% 49.93% at 55.58% 50.07%, #b1d26f 0%, #b1d26f 0.01%, #60e7ce 100%);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
