.new {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 150px;

    .box {
        backdrop-filter: blur(5px);
    }

    .heading{
        margin: 20px 0;
        font-weight: bold;
    }

    &__title {
        width: 100%;
        padding: 20px;
        font-size: 25px;
        border: none;
        border-bottom: 2px solid #04283f;
        outline: none;
        background: transparent;
    }
    &__body {
        width: 100%;
        padding: 20px;
        font-size: 20px;
        margin-bottom: -8px;
        border: none;
        outline: none;
        background: transparent;
    }

    &__row{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;

        .box{
            width: 49%;
        }
        .choose-file{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .reference{
        margin-top: 20px;
    }

    .cta{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
}
